<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.sw21_tug.team_25.expirydates">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/expicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/expicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpiryDate"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.detailview.ui.DetailViewActivity"
                  android:label="@string/detail_view"/>
    </application>

</manifest>
